* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.main__header{
	border-bottom: 1px solid #ececec;
}

.promo__container,
.offers__container,
.banner__container,
.fb-subscribe__container,
.header__container,
.top-menu__container,
.products__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.products__container {
	flex-wrap: nowrap;
}

.header__container {
	padding: 25px 0 21px 0;
	align-items: center;
}

.top-menu__container {
	justify-content: center;
}

.search-form {
	display: flex;
}

.search-form__select {
	font-weight: 300;
	font-size: 14px;
	padding: 9px 25px 9px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-color: #e6e6e6;
	background: url(img/select_arrow.png) no-repeat right 8px top 50%, 0 0,
				linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(245,245,245,1) 100%);;
	-moz-appearance: none;
 	-webkit-appearance: none;
 	appearance: none;
 	cursor: pointer;
}

.search-form__input {
	border-radius: 0;
	border: 1px solid gray;
	width: 280px;
	margin-left: -1px;
	border-color: #e6e6e6;
	padding-left: 16px;
	font-weight: 300;
	color: #a4a4a4;
}

.search-form__btn {
	border: 1px solid gray;
	width: 38px;
	border-color: #e6e6e6;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background: url(img/search_icon.png) 50% 50% no-repeat, #fff;
	margin-left: -1px;
	cursor: pointer;
}

.search-form__btn:hover {
	background-color: #f9f9f9;
}

.account__btn {
	margin-left: 25px;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	border: none;
	padding: 13px 30px 11px 19px;
	background: url(img/account_arrow.png) no-repeat right 12px top 50%, 0 0, #f16d7f;
	cursor: pointer;
	border-radius: none;
}

.account__btn:hover {
	background-color: #f48796;
}

.top-menu__link {
	display: block;
    padding: 16px 23px 20px 23px;
	color: #222;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.top-menu__link:hover,
.top-menu__link_active {
	border-bottom: 3px solid #f16d7f;
	padding-bottom: 10px;
}

.top-menu__link:hover {
	border-bottom: 3px solid #eda3ad;
}

.promo {
	background: url(img/promo.png) no-repeat 72% 30%, #e8e8e8;
	margin-bottom: 72px;
}

.promo__h1 {
	position: relative;
	color: #222;
	padding-left: 24px;
	font-size: 60px;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 205px;
	margin-bottom: 290px;
	letter-spacing: 1px;
}

.promo__h1:before {
	content: "";
	display: block;
	width: 12px;
	background-color: #f16d7f;
	position: absolute;
    top: 15px;
    bottom: 8px;
    left: 0;
}

.promo__h1-sub {
	display: block;
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
}

.promo__h1-sub span {
	color: #f16d7f;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 27px;
	font-weight: 300;
	text-transform: uppercase;
	margin-right: 37px;
	text-decoration: none;
	color: #000;
}

.logo__text span {
	font-weight: 700;
	color: #f16d7f;
}

.logo__img {
	margin-right: 13px;
}

.logo__text {
	margin-top: 5px;
}

.account {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	align-items: flex-end;
}

.offers__left-column .offers__img, 
.offers__right-column .offers__img {
	display: flex;
	align-items: flex-start;
	width: 100%;
}

.offers__left-column .offers__img {
	margin-right: 10px;
	width: calc(100% - 10px);
}

.offers__right-column .offers__img {
	margin-left: 10px;
	width: calc(100% - 10px);
}

.offers__left-column .offers__title, 
.offers__right-column .offers__title {
	background-color: #fff;
	padding: 13px 24px 10px 20px;
	font-weight: 900;
	text-transform: uppercase;
	position: absolute;
	margin-top: 26px;
}

.offers__promo-title {
	font-size: 18px;
	color: #222;
}

.offers__promo-text {
	font-size: 30px;
	color: #f16d7f;
}

.offers__left-column, .offers__right-column {
	width: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.offers__img img {
	position: relative;
	top: 0;
	left: 0;
	z-index: -1;
}

.offers__left-column > div:first-child {
	padding-top: 25px;
}

.offers__left-column > div:last-child {
	padding-top: 20px;
}

.offers__right-column > div:first-child {
	padding-top: 25px;
}

.offers__right-column > div:last-child {
	padding-top: 20px;
}

.featured-items {
	margin-top: 93px;
}

.featured-items h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: #222222;
	letter-spacing: 1px;
}

.featured-items__description {
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #9f9f9f;
	line-height: 30px;
	letter-spacing: 1px;
}

.featured-items__items,
.featured-items__product {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
}

.featured-items__item {
	margin-bottom: 40px;
	padding-bottom: 15px;
}

.featured-items__item:hover {
	box-shadow: 0 6px 7px #dadada;
}

.featured-items__item:hover .featured-items__hidden-btn,
.featured-items__item:hover .featured-items__add-cart {
	display: block;
}

.featured-items__title-item,
.featured-items__price-item {
	text-align: left;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 15px;
	letter-spacing: 1px;
	line-height: 30px;
}

.featured-items__title-item {
	font-size: 13px;
	color: #222;
}

.featured-items__price-item {
	font-size: 16px;
	color: #f16d7f;
}


.featured-items__crop-item {
	width: 261px;
	height: 280px;
	overflow: hidden;
	margin-bottom: 10px;
	position: relative;
}

.featured-items__hidden-btn {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(58, 56, 56, 0.83);
}

.featured-items__add-cart {
	position: absolute;
	top: 95px;
	left: 65px;
	display: none;
	font-weight: 700;
	font-size: 13px;
	color: #fff;
	width: 132px;
	text-decoration: none;
	padding: 8px 4px;
	border: 1px solid #fff;
	line-height: 24px;
}

.featured-items__add-cart img {
	float: left;
	width: 23px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 2px;
}

.featured-items__add-cart:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.featured-items__img-item {
	display: block;
}

.featured-items__all-product-btn {
	display: block;
	width: 212px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	background-color: #f16d7f;
	padding: 15px 0;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	margin-top: 15px;
}

.featured-items__all-product-btn:hover { 
	background-color: #f48796;
}

.fas.fa-long-arrow-alt-right {
	margin-left: 10px;
}

.banner {
	margin-top: 112px;
}

.banner__container {
	justify-content: space-between;
}

.banner__title {
	margin-top: 140px;
	margin-bottom: 295px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.banner__promo-title {
	font-size: 54px;
	line-height: 52px;
	letter-spacing: 1px;
}

.banner__offer {
	color: #f16d7f;
	font-size: 54px;
	letter-spacing: 1px;
}

.banner__promo-text {
	font-size: 32px;
	letter-spacing: 1px;
}

.banner__container {
	background: url(img/banner_women.jpg) no-repeat -3% 5%;
	padding-left: 37px;
}

.banner__item{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 45px;
}

.banner__description {
	margin-left: 35px;
}

.banner__adv-title {
	margin-top: 5px;
	margin-bottom: 12px;
	font-size: 20px;
	font-weight: 700;
}

.banner__adv-text {
	max-width: 220px;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

.banner__adv-list {
	background-color: #222224;
	color: #fff;
	padding: 45px 40px 0px 35px;
}

.fb-subscribe__fb-content {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.fb-subscribe__fb-text{
	width: 395px;
}

.fb_content .city {
	font-size: 12px;
	font-weight: 400;
	color: #3d3d3e;
}

.fb-subscribe__fb-name {
	font-size: 16px;
	font-weight: 700;
	color: #f17586;
}

.fb-subscribe__fb-city {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 12px;
	color: #222224;
	line-height: 24px;
}

.fb-subscribe {
	background: url(img/bg_subscribe.jpg) no-repeat 0% 100%, #f0f0f0;
}

.main__fb-subscribe {
	margin-top: 90px;
}

.fb-subscribe__slider {
	display: flex;
	margin-top: 40px;
}

.fb-subscribe__slider-control {
	display: block;
	width: 38px;
	height: 4px;
	background-color: #d6d6d6;
	margin-right: 13px;
	cursor: pointer;
}

.fb-subscribe__slider-control_active {
	background-color: #f16d7f;
}

.fb-subscribe__feedback, 
.fb-subscribe__subscribe {
	width: 50%;
}

.fb-subscribe__subscribe {
	display: flex;
	flex-direction: column;
	margin-top: 150px;
	margin-bottom: 165px;
	align-items: center;
}

.fb-subscribe__feedback {
	display: flex;
	align-items: flex-start;
	margin-top: 110px;
	border-right: 1px solid #e3e3e3;
}

.fb-subscribe__fb-crop {
	width: 82px;
	height: 82px;
	border-radius: 50%;
	overflow: hidden;
}

.fb-subscribe__fb-crop img {
	display: block;
	margin-left: -27px;
	margin-top: -10px;
}

.fb-subscribe__form {
	display: flex;
	margin-top: 30px;
}

.fb-subscribe__subs-title, 
.fb-subscribe__subs-description {
	color: #222224;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 1px;
}

.fb-subscribe__subs-title {
	font-size: 24px;
}

.fb-subscribe__subs-description {
	font-size: 14px;
}

.fb-subscribe__email {
	width: 283px;
	height: 46px;
	border: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #e1e1e1;
	color: #616162;
	padding-left: 25px;
}

.fb-subscribe__button {
	padding: 0 20px;
	color: #fff;
	background-color: #f16d7f;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: none;
	cursor: pointer;
}

.fb-subscribe__button:hover {
	background-color: #f48796;
}

.footer__footer-navigation{
	display: flex;
	flex-direction: row;
	padding-top: 108px;
	padding-bottom: 86px;
}

.footer__footer-menu {
	display: flex;
	flex-direction: column;
	padding: 16px 0 20px 0;
	margin: 0 auto;
}

.footer__info {
	max-width: 430px;
}

.footer__desc {
	margin-top: 25px;
	font-weight: 300;
	color: #898989;
	font-size: 14px;
	line-height: 25px;
} 

.footer__link {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	color: #898989;
	text-decoration: none;
	line-height: 40px;
}

.footer__link:hover {
	color: #f48796;
}

.footer__menu-title {
	margin-bottom: 35px;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: #f16d7f;
}

.footer__subline {
	background-color: #e6e6e6;
	padding: 30px 0;
}

.subline__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer__copyright {
	color: #7a7a7a;
	font-weight: 400;
	font-size: 16px;
}

.footer__social {
	display: flex;
}

.footer__link-subline{
	display: block;
	color: #b2b2b2;
	width: 32px;
	height: 32px;
	background: #fff;
	margin-left: 8px;
	text-align: center;
    padding-top: 6px;
}

.footer__link-subline:hover {
	background: #f16d7f;
	color: #fff;
}

.product-category {
	background-color: #f8f3f4;
	padding: 65px 0;
	text-transform: uppercase;
}

.main__product-category {
	margin-bottom: 60px;
}

.product-category__title {
	font-size: 24px;
	font-weight: 900;
	color: #f16d7f;
}

.product-category__link {
	font-weight: 300;
	font-size: 14px;
	color: #8b898a;
	text-decoration: none;
}

.product-category__link:hover {
	color: #f48796;
}

.product-category__link_active {
	font-weight: 700;
	color: #f16d7f;
}

.product-category__link:after {
	content: "/";
	margin-left: 3px;
}

.product-category__link:last-child:after {
	content: "";
}

.product-category__container {
	display: flex;
	justify-content: space-between;
}

.products__product-view {
	margin-left: 50px;
}

.products__criterion {
	display: flex;
	flex-direction: column;
}

.criterion__section {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.criterion__section+.criterion__section-title {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.criterion__list {
	display: none;
	overflow: hidden;
}

.criterion__section:checked+.criterion__section-title,
.criterion__section:checked+.criterion__section-title i {
	color: #ef5b70;
}

.criterion__section:checked+.criterion__section-title .fa-caret-up {
	display: inline;
}

.criterion__section:checked+.criterion__section-title .fa-caret-down {
	display: none;
}

.criterion__section:checked+.criterion__section-title +.criterion__list {
	display: flex;
}

.criterion__links {
	display: flex;
	flex-direction: column;
	animation-duration: 0.5s;
  	animation-name: slidein;
  	padding: 10px 0;
}

@keyframes slidein {
  from {
    margin-top: -100%;
  }

  to {
    margin-top: 0;
  }
}

.criterion__section-title {
	display: flex;
	justify-content: space-between;
	width: 243px;
	padding: 7px 14px 12px 19px;
	font-weight: 700;
	text-transform: uppercase;
	color: #6f6e6e;
	border-bottom: 1px solid #ebebeb;
	position: relative;
	margin-bottom: 18px;
}

.criterion__section-title i {
	color: #6f6e6e;
}

.criterion__section-title .fa-caret-up {
	display: none;
}

.criterion__section-title:before {
	content: "";
	display: block;
	width: 5px;
	background-color: #f16d7f;
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
}

.criterion__link {
	display: block;
	color: #6f6e6e;
	text-decoration: none;
	margin-left: 20px;
	font-size: 14px;
	font-weight: 400;
	line-height: 34px;
}

.criterion__link:hover {
	color: #f48796;
}

.criterion__link_last {
	margin-bottom: 18px;
}

.product-view__filter {
	display: flex;
	justify-content: space-between;
}

.product-view_trand-filter {
	width: 240px;
}

.product-view_trand-filter a:hover {
	color: #f48796;
}

.product-view__size-filter {
	width: 250px;
}

.product-view__price-filter {
	width: 262px;
}

.product-view__filter-title {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #6f6e6e;
}

.title-size {
	margin-bottom: 24px;
}

.product-view__filter-slider {
	width: 262px;
	height: 6px;
	background-color: #f0f0f0;
	border-radius: 6px;
	position: relative;
	margin-bottom: 18px;
}

.product-view__filter-controller {
	width: 125px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 30px;
	background-color: #f16d7f;
}

.product-view__ctrl-min,
.product-view__ctrl-max {
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #f16d7f;
	top: -4px;
	cursor: pointer;
}

.product-view__max-price-label {
	margin-left: auto;
}

.product-view__ctrl-max {
	right: -7px;
}

.product-view__ctrl-min {
	left: -7px;
}

.product-view__filter-values {
	display: flex;
	flex-flow: row wrap;
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 400;
}

.product-view__filter-form {
	display: flex;
	flex-flow: row wrap;
}

.product-view__filter-link {
	padding-right: 10px;
	text-decoration: none;
	color: #6f6e6e;
	line-height: 24px;
}

.size-values {
	line-height: 14px;
}

.size-value span {
	margin-right: 10px;
}

.product-view__filter-link:after {
	content: "|";
	padding-left: 10px;
	color: #e8e8e8;
}

.product-view__filter-link:nth-child(3n):after {
	content: "";
}

.product-view__size-input {
	display: none;
}

.product-view__size-input + .product-view__size-label span {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 13px;
    margin: -1px 4px 0 0;
    vertical-align:middle;
    border: 1px solid #ebebeb;
    margin-right: 8px;
    cursor:pointer;
}

.product-view__size-input:checked + .product-view__size-label span {
    background-color: #ef5b70;
    border: 1px solid #ef5b70;
}

.product-view__size-label {
	display: flex;
	margin-bottom: 10px;
	margin-right: 25px;
}

.product-view__sort {
	display: flex;
	padding: 10px;
	background-color: #f3f3f3;
	margin-top: 35px;
	font-size: 14px;
	color: #6f6e6e;
	font-weight: 400;
}

.product-view__preview-label {
	padding: 7px 12px;
	background-color: #fff;
	border: 1px solid #ebebeb;
}

.product-view__preview-form { 
	margin-right: 10px;
}

.product-view__preview-select {
	font-size: 14px;
	color: #6f6e6e;
	font-weight: 400;
	padding: 7px 34px 7px 12px;
	border-radius: 0;
	border-color: #ebebeb;
	margin-left: -1px;
	background: url(img/select_arrow.png) no-repeat right 8px top 50%, 0 0, #fff;
	-moz-appearance: none;
 	-webkit-appearance: none;
 	appearance: none;
 	cursor: pointer;
}

.advantage {
	background-color: #222224;
	padding-top: 90px;
	padding-bottom: 110px;
	color: #fff;
}

.advantage__item {
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
}

.advantage__container {
	display: flex;
}

.advantage__title {
	font-size: 20px;
	font-weight: 700;
	margin-top: 25px;
	margin-bottom: 15px;
}

.advantage__description {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

.fb_subscribe.product-page {
	margin-top: 0;
}

.product-view__navigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 110px;
}

.product-view__pagination {
	padding: 10px 15px;
	border: 1px solid #ebebeb;
	border-radius: 3px;
}

.product-view__pagination-link {
	margin-right: 13px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	color: #c4c4c4; 
}

.product-view__pagination-link_active {
	color: #ef5b70; 
}

.product-view__pagination-points {
	color: #c4c4c4;
}

.product-view__pagination-link:nth-child(7),
.product-view__pagination-link:last-child {
	margin-right: 0;
}

.product-view__pagination-link:hover {
	color: #ef5b70;
}

.product-view__btn-view-all {
	text-decoration: none;
	color: #ef5b70;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 40px;
	border-radius: 3px;
	border: 1px solid #ef5b70;
}

.product-view__btn-view-all:hover {
	color: #fff;
	background-color: #ef5b70;
}

.checkout__product-category {
	margin-bottom: 90px;
}

.checkout-info {
	margin-bottom: 90px;
}

.checkout-info__item {
	margin-bottom: 28px;
	border-bottom: 1px solid #e8e8e8;
}

.checkout-info__h2-title {
	font-size: 16px;
	font-weight: 900;
	color: #222;
	text-transform: uppercase;
	margin-bottom: 28px;
}

.checkout-info__h2-title span {
	margin-right: 8px;
}

.checkout-info__content {
	display: flex;
	padding-bottom: 80px;
	line-height: 28px;
	color: #222;
}

.checkout-info__registration {
	width: 50%;
	margin-left: 30px;
}

.checkout-info__list {
	list-style-type: none;
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 13px;
	color: #b3b2b2;
}

.checkout-info__h4-title {
	font-size: 13px;
	font-weight: 700;
	color: #222;
	text-transform: uppercase;
}

.checkout-info__desc {
	font-size: 13px;
	color: #b3b2b2;
}

.radiobutton {
	display: flex;
	flex-direction: column;
}

.checkout-info__radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radiobutton label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

label .checkout-info__radio-input ~ span:before {
	content: " ";
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 2px solid #595959;
	border-radius: 50%;
	margin-right: 14px;
}

label .checkout-info__radio-input:checked ~ span:before {
	background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(255,255,255,1) 44%);
}

.checkout-info__radio {
	margin-top: 20px;
	margin-bottom: 20px;
}

.checkout-btn {
	display: inline-block;
	width: 180px;
	background-color: #fff;
	padding: 15px 0 15px 50px;
	font-size: 14px;
	font-weight: 700;
	color: #4a4a4a;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #eaeaea;
	outline: 0 !important;
	transition: 1s;
}

.checkout-btn:hover {
	background-color: #f16d7f;
	border-color: #f16d7f;
	color: #fff;
}

.checkout-info__label,
.checkout-info__input {
	display: block;
}

.checkout-info__input {
	width: 390px;
	height: 46px;
	border: 1px solid #eaeaea;
	padding-left: 15px;
	outline: 0 !important;
	transition: 3s;
}

.checkout-info__input:focus {
	background-color: #f8f3f4;
}

.checkout-info__input::-moz-focus-outer, 
.checkout-info__input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.checkout-info__label {
	font-size: 12px;
	color: #222;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 5px;
}

.checkout-info__label span {
	font-size: 17px;
	color: #ff0d0d;
	line-height: 12px;
	margin-left: 3px;

}

.checkout-info__notes {
	font-size: 13px;
	font-weight: 700;
	color: #ff0d0d;
	margin-top: 10px;
}

.checkout-info__login-btn {
	margin-top: 27px;
}

.checkout-info__fogot-btn {
	font-size: 14px;
	font-weight: 700;
	color: #222;
	margin-left: 30px;
	text-decoration: none;
}

.checkout-info__fogot-btn:hover {
	text-decoration: underline;
}
