* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.promo {
	background: url(img/promo.png) no-repeat 72% 30%, #e8e8e8;
	margin-bottom: 72px;
}

.promo .container,
.offers .container,
.banner .container,
.fb_subscribe .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.banner .container {
	justify-content: space-between;
}

form {
	display: flex;
}

.search select {
	font-weight: 300;
	font-size: 14px;
	padding: 9px 25px 9px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-color: #e6e6e6;
	background: url(img/select_arrow.png) no-repeat right 8px top 50%, 0 0,
				linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(245,245,245,1) 100%);;
	-moz-appearance: none;
 	-webkit-appearance: none;
 	appearance: none;
 	cursor: pointer;
}

.search input[type="text"] {
	border-radius: 0;
	border: 1px solid gray;
	width: 280px;
	margin-left: -1px;
	border-color: #e6e6e6;
	padding-left: 16px;
	font-weight: 300;
	color: #a4a4a4;
}

.search input[type="button"] {
	border: 1px solid gray;
	width: 38px;
	border-color: #e6e6e6;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background: url(img/search_icon.png) 50% 50% no-repeat, #fff;
	margin-left: -1px;
	cursor: pointer;
}

.search input[type="button"]:hover {
	background-color: #f9f9f9;
}

.account_btn {
	margin-left: 25px;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	border: none;
	padding: 13px 30px 11px 19px;
	background: url(img/account_arrow.png) no-repeat right 12px top 50%, 0 0, #f16d7f;
	cursor: pointer;
	border-radius: none;
}

.account_btn:hover {
	background-color: #f48796;
}

.top-menu,
.footer-menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0 auto;
}

.footer-menu {
	padding: 16px 0 20px 0;
}

.top-menu .container {
	display: flex;
}

.top-menu a {
	display: block;
    padding: 16px 23px 20px 23px;
	color: #222;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.top-menu a:hover,
.top-menu a.active {
	border-bottom: 3px solid #f16d7f;
	padding-bottom: 10px;
}

.top-menu a:hover {
	border-bottom: 3px solid #eda3ad;
}

header {
	border-bottom: 1px solid #ececec;
}

header .container {
	display: flex;
	flex-direction: row;
	padding: 25px 0 21px 0;
	align-items: center;
}

h1 {
	position: relative;
	color: #222;
	padding-left: 24px;
	font-size: 60px;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 205px;
	margin-bottom: 290px;
	letter-spacing: 1px;
}

h1:before {
	content: "";
	display: block;
	width: 12px;
	background-color: #f16d7f;
	position: absolute;
    top: 15px;
    bottom: 8px;
    left: 0;
}

h1 .sub {
	display: block;
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
}

h1 .sub span {
	color: #f16d7f;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 27px;
	font-weight: 300;
	text-transform: uppercase;
	margin-right: 37px;
	text-decoration: none;
	color: #000;
}

.logo span {
	font-weight: 700;
	color: #f16d7f;
}

.logo img {
	margin-right: 13px;
}

.logo p {
	margin-top: 5px;
}

.account {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	align-items: flex-end;
}

.col-1 .img, .col-2 .img {
	display: flex;
	align-items: flex-start;
	width: 100%;
}

.col-1 .img {
	margin-right: 10px;
	width: calc(100% - 10px);
}

.col-2 .img {
	margin-left: 10px;
	width: calc(100% - 10px);
}

.col-1 .title, .col-2 .title {
	background-color: #fff;
	padding: 13px 24px 10px 20px;
	font-weight: 900;
	text-transform: uppercase;
	position: absolute;
	margin-top: 26px;
}

.title p {
	font-size: 18px;
	color: #222;
}

.title span {
	font-size: 30px;
	color: #f16d7f;
}

.col-1, .col-2 {
	width: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.img img {
	position: relative;
	top: 0;
	left: 0;
	z-index: -1;
}

.col-1 > div:first-child {
	padding-top: 25px;
}

.col-1 > div:last-child {
	padding-top: 20px;
}

.col-2 > div:first-child {
	padding-top: 25px;
}

.col-2 > div:last-child {
	padding-top: 20px;
}

.featured_items {
	margin-top: 93px;
}

.featured_items h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: #222222;
	letter-spacing: 1px;
}

.featured_items p {
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #9f9f9f;
	line-height: 30px;
	letter-spacing: 1px;
}

.featured_items .items,
.featured_items.product {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
}

.featured_items .item {
	margin-bottom: 40px;
	padding-bottom: 15px;
}

.featured_items .item:hover {
	box-shadow: 0 6px 7px #dadada;
}

.featured_items .item:hover .crop .hidden_btn,
.featured_items .item:hover .crop .add_cart {
	display: block;
}

.featured_items .item .title {
	text-align: left;
	font-weight: 700;
	font-size: 13px;
	color: #222;
	text-transform: uppercase;
	margin-left: 15px;
}

.featured_items .item .price {
	text-align: left;
	font-weight: 700;
	font-size: 16px;
	color: #f16d7f;
	margin-left: 15px;
}


.featured_items .crop {
	width: 261px;
	height: 280px;
	overflow: hidden;
	margin-bottom: 10px;
	position: relative;
}

.featured_items .crop .hidden_btn {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(58, 56, 56, 0.83);
}

.featured_items .crop .add_cart {
	position: absolute;
	top: 95px;
	left: 65px;
	display: none;
	font-weight: 700;
	font-size: 13px;
	color: #fff;
	width: 132px;
	text-decoration: none;
	padding: 8px 4px;
	border: 1px solid #fff;
	line-height: 24px;
}

.featured_items .crop .add_cart img {
	float: left;
	width: 23px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 2px;
}

.featured_items .crop .add_cart:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.featured_items .item img {
	display: block;
}

.featured_items .all_product {
	display: block;
	width: 212px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	background-color: #f16d7f;
	padding: 15px 0;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	margin-top: 15px;
}

.fas.fa-long-arrow-alt-right {
	margin-left: 10px;
}

.banner {
	margin-top: 112px;
}

.banner .banner_title {
	margin-top: 140px;
	margin-bottom: 295px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.banner .banner_title p {
	font-size: 54px;
	line-height: 52px;
	letter-spacing: 1px;
}

.banner .banner_title p .offer {
	color: #f16d7f;
	font-size: 54px;
	letter-spacing: 1px;
}

.banner .banner_title span {
	font-size: 32px;
	letter-spacing: 1px;
}

.banner .container {
	background: url(img/banner_women.jpg) no-repeat -3% 5%;
	padding-left: 37px;
}

.banner article {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 45px;
}

.banner .description {
	margin-left: 35px;
}

.banner .description h4 {
	margin-top: 5px;
	margin-bottom: 12px;
	font-size: 20px;
	font-weight: 700;
}

.banner .description p {
	max-width: 220px;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

.banner aside {
	background-color: #222224;
	color: #fff;
	padding: 45px 40px 0px 35px;
}

.fb_content {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.fb_content p {
	width: 395px;
}

.fb_content .city {
	font-size: 12px;
	font-weight: 400;
	color: #3d3d3e;
}

.fb_content .name {
	font-size: 16px;
	font-weight: 700;
	color: #f17586;
}

.fb_content .fb_text {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 12px;
	color: #222224;
	line-height: 24px;
}


.fb_subscribe {
	margin-top: 90px;
	background: url(img/bg_subscribe.jpg) no-repeat 0% 100%, #f0f0f0;
}

.feedback {
	border-right: 1px solid #e3e3e3;
}

.feedback .slider {
	display: flex;
	margin-top: 40px;
}

.feedback .slider .control{
	display: block;
	width: 38px;
	height: 4px;
	background-color: #d6d6d6;
	margin-right: 13px;
	cursor: pointer;
}

.feedback .slider .active {
	background-color: #f16d7f;
}

.feedback, .subscribe {
	width: 50%;
}

.fb_subscribe .subscribe {
	display: flex;
	flex-direction: column;
	margin-top: 150px;
	margin-bottom: 165px;
	align-items: center;
}

.fb_subscribe .feedback {
	display: flex;
	align-items: flex-start;
	margin-top: 110px;
}

.feedback .crop {
	width: 82px;
	height: 82px;
	border-radius: 50%;
	overflow: hidden;
}

.feedback .crop img {
	display: block;
	margin-left: -27px;
	margin-top: -10px;
}

.subscribe form {
	display: flex;
	margin-top: 30px;
}

.subscribe h3, 
.subscribe p {
	color: #222224;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 1px;
}

.subscribe h3 {
	font-size: 24px;
}

.subscribe p {
	font-size: 14px;
}

.subscribe input[type="email"] {
	width: 283px;
	height: 46px;
	border: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #e1e1e1;
	color: #616162;
	padding-left: 25px;
}

.subscribe input[type="button"] {
	padding: 0 20px;
	color: #fff;
	background-color: #f16d7f;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: none;
	cursor: pointer;
}

.subscribe input[type="button"]:hover {
	background-color: #f48796;
}

footer .main {
	display: flex;
	flex-direction: row;
	padding-top: 108px;
	padding-bottom: 86px;
}

footer .footer-menu {
	display: flex;
	flex-direction: column;
	padding: 0;
}

footer .info {
	max-width: 430px;
}

footer .info .desc {
	margin-top: 25px;
	font-weight: 300;
	color: #898989;
	font-size: 14px;
	line-height: 25px;
} 

footer .footer-menu a {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	color: #898989;
	text-decoration: none;
	line-height: 40px;
}

footer .footer-menu a:hover {
	color: #f48796;
}

footer .footer-menu p {
	margin-bottom: 35px;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: #f16d7f;
}

.subline {
	background-color: #e6e6e6;
	padding: 30px 0;
}

.subline .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.subline p {
	color: #7a7a7a;
	font-weight: 400;
	font-size: 16px;
}

.social {
	display: flex;
}

.social a {
	display: block;
	color: #b2b2b2;
	width: 32px;
	height: 32px;
	background: #fff;
	margin-left: 8px;
	text-align: center;
    padding-top: 6px;
}

.social a:hover {
	background: #f16d7f;
	color: #fff;
}

.product-category {
	background-color: #f8f3f4;
	margin-bottom: 60px;
	padding: 65px 0;
	text-transform: uppercase;
}

.product-category h2 {
	font-size: 24px;
	font-weight: 900;
	color: #f16d7f;
}

.product-category .breadcrumb a {
	font-weight: 300;
	font-size: 14px;
	color: #8b898a;
	text-decoration: none;
}

.product-category .breadcrumb a:hover {
	color: #f48796;
}

.product-category .breadcrumb a.active {
	font-weight: 700;
	color: #f16d7f;
}

.product-category .breadcrumb a:after {
	content: "/";
	margin-left: 3px;
}

.product-category .breadcrumb a:last-child:after {
	content: "";
}

.product-category .container {
	display: flex;
	justify-content: space-between;
}

.products .container {
	display: flex;
}

.products .product-view {
	margin-left: 50px;
}

.products .criterion {
	display: flex;
	flex-direction: column;
}

.products .criterion p {
	display: flex;
	justify-content: space-between;
	width: 243px;
	padding: 7px 14px 12px 19px;
	font-weight: 700;
	text-transform: uppercase;
	color: #6f6e6e;
	border-bottom: 1px solid #ebebeb;
	position: relative;
	margin-bottom: 18px;
}

.products .criterion p i {
	color: #6f6e6e;
}

.products .criterion .active,
.products .criterion .active i {
	color: #ef5b70;
}

.products .criterion p:before {
	content: "";
	display: block;
	width: 5px;
	background-color: #f16d7f;
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
}

.products .criterion a {
	display: block;
	color: #6f6e6e;
	text-decoration: none;
	margin-left: 20px;
	font-size: 14px;
	font-weight: 400;
	line-height: 34px;
}

.products .criterion a:hover {
	color: #f48796;
}

.criterion a:last-child {
	margin-bottom: 18px;
}

.product-view .filter {
	display: flex;
	justify-content: space-between;
}

.product-view .filter .trand {
	margin-right: 80px;
}

.product-view .filter .trand a:hover {
	color: #f48796;
}

.product-view .filter .size {
	margin-right: 30px;
}

.product-view .filter .title {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #6f6e6e;
}

.product-view .filter .size .title {
	margin-bottom: 24px;
}

.product-view .filter .slider-price {
	width: 262px;
	height: 6px;
	background-color: #f0f0f0;
	border-radius: 6px;
	position: relative;
	margin-bottom: 18px;
}

.product-view .filter .slider-price .controller {
	width: 125px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 30px;
	background-color: #f16d7f;
}

.product-view .filter .slider-price .controller .min-price,
.product-view .filter .slider-price .controller .max-price {
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #f16d7f;
	top: -4px;
	cursor: pointer;
}

.product-view span.max_price {
	margin-left: auto;
}

.product-view .filter .slider-price .controller .max-price {
	right: -7px;
}

.product-view .filter .slider-price .controller .min-price {
	left: -7px;
}

.product-view .filter .values {
	display: flex;
	flex-flow: row wrap;
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 400;
}

.product-view .filter .values form {
	display: flex;
	flex-flow: row wrap;
}

.product-view .filter .values a {
	padding-right: 10px;
	text-decoration: none;
	color: #6f6e6e;
	line-height: 24px;
}

.product-view .filter .size .values {
	line-height: 14px;
}

.product-view .filter .size .values span {
	margin-right: 10px;
}

.product-view .filter .values a:after {
	content: "|";
	padding-left: 10px;
	color: #e8e8e8;
}

.product-view .filter .values a:nth-child(3n):after {
	content: "";
}

.product-view .filter input[type="checkbox"] {
	display: none;
}

.product-view .filter input[type="checkbox"] + label span {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 13px;
    margin: -1px 4px 0 0;
    vertical-align:middle;
    border: 1px solid #ebebeb;
    margin-right: 8px;
    cursor:pointer;
}

.product-view .filter input:checked + label span {
    background-color: #ef5b70;
    border: 1px solid #ef5b70;
}

.product-view .filter label {
	display: flex;
	margin-bottom: 10px;
	margin-right: 25px;
}

.product-view .preview-option {
	display: flex;
	padding: 10px;
	background-color: #f3f3f3;
	margin-top: 35px;
	font-size: 14px;
	color: #6f6e6e;
	font-weight: 400;
}

.product-view .preview-option span {
	padding: 7px 12px;
	background-color: #fff;
	border: 1px solid #ebebeb;
}

.product-view .preview-option form { 
	margin-right: 10px;
}

.product-view .preview-option select {
	font-size: 14px;
	color: #6f6e6e;
	font-weight: 400;
	padding-left: 12px;
	padding-right: 34px;
	border-radius: 0;
	border-color: #ebebeb;
	margin-left: -1px;
	background: url(img/select_arrow.png) no-repeat right 8px top 50%, 0 0, #fff;
	-moz-appearance: none;
 	-webkit-appearance: none;
 	appearance: none;
 	cursor: pointer;
}

.features-product {
	background-color: #222224;
	padding-top: 90px;
	padding-bottom: 110px;
	color: #fff;
}

.features-product article {
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
}

.features-product .container {
	display: flex;
}

.features-product h4 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 25px;
	margin-bottom: 15px;
}

.features-product p {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

.fb_subscribe.product-page {
	margin-top: 0;
}

.navigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 110px;
}

.navigation .pagination {
	padding: 10px 15px;
	border: 1px solid #ebebeb;
	border-radius: 3px;
}

.navigation .pagination a {
	margin-right: 13px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	color: #c4c4c4; 
}

.navigation .pagination a.active {
	color: #ef5b70; 
}

.navigation .pagination span {
	color: #c4c4c4;
}

.navigation .pagination a:nth-child(7),
.navigation .pagination a:last-child {
	margin-right: 0;
}

.navigation .pagination a:hover {
	color: #ef5b70;
}

.navigation .view-all {
	text-decoration: none;
	color: #ef5b70;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 40px;
	border-radius: 3px;
	border: 1px solid #ef5b70;
}

.navigation .view-all:hover {
	color: #fff;
	background-color: #ef5b70;
}